
<form id="formBeneficiario" method="post">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="Nome">Nome:</label>
                <input required="required" type="text" class="form-control" id="Nome" name="Nome" placeholder="Ex.: João" maxlength="50">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="CPF">CPF:</label>
                <input required="required" type="text" class="form-control" id="CPF" name="CPF" placeholder="Ex.: 123.456.789-00" maxlength="14">
            </div>
        </div>
        <div class="col-mt-2">
            <div class="pull-left">
                <button type="submit" class="btn btn-primary btn-success">Incluir</button>
            </div>
        </div>
    </div>
</form>
