
@{
    ViewBag.Title = "Cadastrar Beneficiario";
}
@section scripts{
    <script>
        
    </script>
    @Scripts.Render("~/bundles/beneficiarios")
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")